<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">

      <div class="row column">
        <%= form.translated :text_field, :name, autofocus: true, aria: { label: :name } %>
      </div>
      <div class="row column">
        <%= form.translated :text_field, :description, aria: { label: :earning } %>
      </div>
      <div class="row column">
        <%= form.translated :text_area, :earning_methods, aria: { label: :earning }, help_text: t(".earning_methods_help") %>
      </div>

      <% if Decidim::Badges.find_manifest(form.object.manifest_name).has_restrictions %>
        <div class="row column">
          <%= form.select :participatory_space,
                          options_for_select(participatory_space_options, form.object.participatory_space),
                          { include_blank: t('.select_participatory_space') },
                          { aria: { label: t('.participatory_space_label') } } %>

        </div>

        <div class="row column">
          <%= form.select :decidim_component_id,
                          grouped_options_for_select(
                            grouped_components_options,
                            form.object.decidim_component_id
                          ),
                          {
                            include_blank: t('.select_component_id'),
                          },
                          {
                            aria: { label: t('.component_label') },
                            class: 'form-control'
                          } %>
        </div>

        <script>
          class OptgroupManager {
            constructor(selectId) {
              this.select = document.getElementById(selectId);
              this.optgroups = this.select.querySelectorAll('optgroup');
            }

            hideAll() {
              this.optgroups.forEach(optgroup => {
                optgroup.style.display = 'none';
              });
            }

            showSpecific(labels) {
              labels.forEach(label => {
                const optgroup = this.select.querySelector(`optgroup[label="${label}"]`);
                if (optgroup) {
                  optgroup.style.display = 'block';
                }
              });
            }

            showOnly(label) {
              this.hideAll();
              this.showSpecific([label]);
            }
          }

          const component_manager = new OptgroupManager('badge_decidim_component_id');

          document.addEventListener('DOMContentLoaded', function () {
            let space = document.getElementById("badge_participatory_space");
            space.addEventListener("change", function () {
              const selectedOption = this.options[this.selectedIndex];
              const textContent = selectedOption.textContent;
              component_manager.select.value = "";
              component_manager.hideAll(); // Hide all optgroups
              component_manager.showOnly(textContent);
            });

            if (space.selectedIndex > 0) {
              const selectedOption = space.options[space.selectedIndex];
              const textContent = selectedOption.textContent;
              component_manager.hideAll(); // Hide all optgroups
              component_manager.showOnly(textContent);
            } else {
              component_manager.hideAll();
            }
          });

        </script>
      <% end %>

      <div class="row column">
        <%= form.upload(
              :file,
              dimensions_info: badge.attached_uploader(:file).dimensions_info,
              extension_allowlist: badge.attached_uploader(:file).extension_allowlist,
              help_i18n_scope: "decidim.forms.file_help.icon",
              button_class: "button button__sm button__transparent-secondary"
            ) %>
      </div>

      <% 5.times do |i| %>
        <div class="row column">
          <%= form.text_field "levels[#{i}]",
                              value: badge.levels&.dig(i.to_s),
                              label: t('.level_name_label', level: i + 1),
                              placeholder: t('.level_name_placeholder')
          %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<div class="item__edit-sticky">
  <div class="item__edit-sticky-container">
    <%= form.submit submit_button_text, class: "button button__sm button__secondary" %>
  </div>
</div>